{% extends 'blog/base.html'%}
{% block title %} Подробная информация {% endblock %}
{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4 danger">Подробнее о блоге</h1>
    <p class="lead">В данном разделе представлена подробная информация о блоге.</p>
</div>

<div class="container">
    <div class="row text-center">
        <div class="col-12">
            <div class="card mx-auto" style="width: 30rem;">
                {% if blog.preview %}
                <img src="{{ blog.preview.url }}" class="card-img-top" alt="{{ product.name }}">
                {% endif %}
                <div class="card-body">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{blog.heading}}</h4>
                    </div>
                    <ul class="list-unstyled mt-3 mb-4 text-centre m-3">
                        {% if blog.preview %}
                        <img src="{{ product.image.url }}" class="img-fluid rounded"
                             style="height: 200px; object-fit: cover;" alt="{{ blog.heading }}">
                        {% endif %}
                        <li>Содержание: {{blog.content}}</li>
                        <li>Дата создания: {{blog.create_at | date:'d M Y'}}</li>
                        <li>Количество просмотров: {{blog.quantity_views}}</li>
                    </ul>
                    <a type="button" href="{% url 'blog:blog_delete' blog.pk %}" class="btn btn-lg btn-block btn-outline-danger">Удалить</a>
                    <a href="{% url 'blog:blog_list'%}" class="btn btn-lg btn-outline-primary">Назад</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

